# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.o
*.out
*.bin
a.out
core
core.*
*.swp
*.swo
*.txt~
*.gdb_history
.DS_Store


# debug information files
*.dwo
practice/
strategy/

c-foundations/stack

#challenges
mini-exploits/stage.md 

#mini-exploits/challenge_01/
mini-exploits/challenge_02/
mini-exploits/challenge_03/
mini-exploits/challenge_04/
mini-exploits/challenge_05/